lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swp
*.data*

pids
logs
results
tmp

# Test Results
test-results.xml
coverage

.env
node_modules
bower_components
dump

# Editors
.idea
*.iml
.DS_Store
Thumbs.db

.data
.uploads